<launch>
  <node pkg="nodelet" type="nodelet" name="threadpool"  args="manager" output="screen">
    <param name="num_worker_threads" value="10" />
  </node>
  
  <node pkg="resource_management" type="resource_manager" name="resource_manager" output="screen">
    <rosparam>
      num_request_threads: 4
      resources:
        usb_bandwidth:
          available: 480
          max: 480
          min: 0
    </rosparam>
  </node>
  
  <include file="$(find v4l2_cam)/cam_nodelet.launch">
    <arg name="device_path" value="/dev/video0"/>
    <arg name="camera_name" value="pseye_050_narrow"/>
    <arg name="name" value="pseye_050"/>
    <arg name="manager_name" value="threadpool"/>
    <arg name="resource_name" value="resource_manager"/>
  </include>
  
  <!--include file="$(find v4l2_cam)/cam_nodelet.launch">
    <arg name="device_path" value="/dev/video1"/>
    <arg name="camera_name" value="pseye_046_narrow"/>
    <arg name="name" value="pseye_046"/>
    <arg name="manager_name" value="threadpool"/>
    <arg name="resource_name" value="resource_manager"/>
  </include-->
  
  <node pkg="nodelet" type="nodelet" name="camera_array" 
    args="load v4l2_cam/camera_array_nodelet threadpool" output="screen">
    <rosparam>
      cameras: [pseye_050]
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="detector"
        args="load atags/detector_nodelet threadpool" output="screen">
    <remap from="image_source" to="camera_array/image_raw"/>
    <rosparam>
      tag_family: 36h11
    </rosparam>
  </node>
  
  <node pkg="manycal" type="array_calibrator" name="calibrator" output="screen">
    <remap from="detections" to="detector/detections_rectified"/>
    <rosparam>
      array_name: camera_array
      tag_size: 0.0858
    </rosparam>
  </node>
  
</launch>
