<launch>

<node pkg="camplex" type="camera_node" name="camera0">
        <rosparam>
            camera_name: pseye_047_wide
            device_path: /dev/video1
            frame_resolution: [320,240]
            frame_rate: 30
            stream_on_start: true
        </rosparam>
    </node>

    <node pkg="camplex" type="camera_node" name="camera1">
        <rosparam>
            camera_name: pseye_049_wide
            device_path: /dev/video2
            frame_resolution: [320,240]
            frame_rate: 30
            stream_on_start: true
        </rosparam>
    </node>

  <node pkg="manycal" type="cam_sync" name="sync" output="screen">
      <rosparam>
          buffer_length: 10
          max_dt: 0.1
          sources:
            cam0:
              input: camera0/image_raw
              output: camera0/synchronized/image_raw
            cam1:
              input: camera1/image_raw
              output: camera1/synchronized/image_raw
      </rosparam>
  </node>

</launch>
  
