<launch>
  <node pkg="odoflow" type="visual_odometry_node" name="vo_node" output="screen"
    launch-prefix="xterm -e gdb --args">
    <remap from="image_raw" to="/camera/image_raw" />
    <rosparam>
      show_output: true
      redetection_threshold: 40
      #detector:
        #type: FAST
        #intensity_threshold: 40
        #enable_non_maximum_suppression: true
        #max_num_points: 50
        #detector_type: FAST_7_12
      #detector:
        #type: corner
        #max_num_points: 40
        #min_quality: 0.01
        #min_separation: 10
        #block_size: 3
        #window_size: 10
        #use_harris: false
        #refine_enable: true
        #refine_max_iters: 20
        #refine_min_eps: 0.03
      detector:
        type: fixed
        grid: [6,6]
      tracker:
        type: lucas_kanade
        max_iters: 10
        min_eps: 0.001
        window_size: [51, 51]
        eigenvalue_threshold: 0.001
      #estimator:
        #type: five_point
        #desired_confidence: 0.99
        #outlier_threshold: 0.001
        #method: RANSAC
        #output_scale: 0.04
      estimator:
        type: rigid
        output_scale: 0.1
    </rosparam>
  </node>
</launch>
