<launch>
  <include file="$(find v4l2_cam)/cam_node_standalone.launch">
    <arg name="device_path" value="/dev/video0"/>
    <arg name="camera_name" value="pseye_050_wide"/>
    <arg name="name" value="camera0" />
  </include>
  
  <node pkg="atags" type="atag_detector_node" name="detector">
    <rosparam>
      image_sources: [camera0/image_raw]
      tag_family: 36h11
    </rosparam>
  </node>
  
</launch>
