<launch>
  
  <node pkg="lookup" type="lookup_registrar" name="robot_registrar">
    <rosparam>
      target_name: robot
      target_namespace: robot
    </rosparam>
  </node>
  
  # Test robot, should be named in actual deployment
  <group ns="robot">
    
    <node pkg="fieldtrack" type="state_estimator_node" name="vo_filter" output="screen">
      <remap from="relative_pose" to="relative_poses"/>
      <rosparam>
        reference_frame: world
        body_frame: robot
        update_rate: 20.0
        velocity_covariance_rate: [0.1, 0, 0, 0, 0, 0,
                                   0, 0.1, 0, 0, 0, 0,
                                   0, 0, 0, 0, 0, 0,
                                   0, 0, 0, 0, 0, 0,
                                   0, 0, 0, 0, 0, 0,
                                   0, 0, 0, 0, 0, 0.1]
        pose_covariance_rate: [0.1, 0, 0, 0, 0, 0,
                               0, 0.1, 0, 0, 0, 0,
                               0, 0, 0, 0, 0, 0,
                               0, 0, 0, 0, 0, 0,
                               0, 0, 0, 0, 0, 0,
                               0, 0, 0, 0, 0, 0.1]
      </rosparam>
    </node>
    
    <node pkg="atags" type="detector_node" name="detector" output="screen">
      <remap from="image" to="cameras/image_raw"/>
      <remap from="~/detections_raw" to="detections_raw"/>
      <remap from="~/detections_processed" to="detections_processed"/>
      <rosparam>
        enable_undistortion: true
        enable_normalization: true
        tag_family: 36h11
      </rosparam>
    </node>
    
    <node pkg="fieldtrack" type="fiducial_pose_estimator" name="fiducial_pose_estimator" output="screen">
      <remap from="detections" to="detections_processed"/>
    </node>
    
    # Asynchronous redundant camera array (ARCA)
    <group ns="cameras">

      # Playstation Eye 043
      <node pkg="lookup" type="lookup_registrar" name="pseye_043_registrar">
        <rosparam>
          target_name: pseye_043_wide
          target_namespace: pseye_043
        </rosparam>
      </node>
      
      <node pkg="camplex" type="camera_node" name="pseye_043" output="screen">
        <remap from="~/image_raw" to="image_raw"/>
        <rosparam>
          frame_id: robot
          extrinsics:
            position:
              x: 0
              y: 0
              z: 0
            orientation:
              yaw: 0
              pitch: 0
              roll: 0
          camera_name: pseye_043_wide
          device_path: /dev/argus/camera1
          frame_resolution: [640, 480]
          frame_rate: 15
          stream_on_start: true
        </rosparam>
      </node>
      
      # Playstation Eye 043
      <node pkg="lookup" type="lookup_registrar" name="pseye_047_registrar">
        <rosparam>
          target_name: pseye_047_wide
          target_namespace: pseye_047
        </rosparam>
      </node>
      
      <node pkg="camplex" type="camera_node" name="pseye_047" output="screen">
        <remap from="~/image_raw" to="image_raw"/>
        <rosparam>
          frame_id: robot
          extrinsics:
            position:
              x: 0
              y: 0
              z: 0
            orientation:
              yaw: 0
              pitch: 0
              roll: 0
          camera_name: pseye_047_wide
          device_path: /dev/argus/camera2
          frame_resolution: [640, 480]
          frame_rate: 15
          stream_on_start: true
        </rosparam>
      </node>
      
    </group>
    
  </group>
  
</launch>
