<launch>
  
  <node pkg="lookup" type="lookup_registrar" name="calibration_registrar">
    <rosparam>
      target_name: calibration_target
      target_namespace: calibration_target
    </rosparam>
  </node>
  
  <group ns="calibration_target">
    
    # AprilTag 36h11 ID 0
    <node pkg="lookup" type="lookup_registrar" name="calibration_registrar">
      <rosparam>
        target_name: apriltag_36h11_id0
        target_namespace: apriltag_36h11_id0
      </rosparam>
    </node>
    
    <group ns="apriltag_36h11_id0">
      <rosparam command="load" file="$(env HOME)/.ros/object_info/apriltag_36h11_id0.yaml"/>
      <rosparam param="frame_id">calibration_target</rosparam>
    </group>

    <node pkg="manycal" type="dummy_odometry" name="dummy_odometer" output="screen">
      <remap from="displacements" to="odometry"/>
      <rosparam>
        rate: 10.0
        frame_id: calibration_target
      </rosparam>
    </node>

  </group>
   
  <node pkg="manycal" type="array_calibrator_node" name="calibrator" output="screen">
    <rosparam>
      calibration_targets: [robot, calibration_target]
    </rosparam>
  </node>
  
</launch>
